@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

#root {
  width: 100vw;
  height: 100vh;
  background-color: #bef5e4;
  background-image: linear-gradient(147deg, #7b7b6a 40%, #1e9700 100%);
}

body {
  margin: 0;
}

/* 
  Loading Screen format
*/
.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  background-image: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: opacity 6s;
  z-index: 1;
  font-family: "Almendra", serif;
}

.loadingScreen-started {
  opacity: 0;
  pointer-events: none;
}

/* 
  Intro text 
*/
.intro-text {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  color: #f5f5dc;
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  user-select: none;

  position: fixed;

  transition: opacity 1s ease-out;
  animation: floatingAnimation 8s infinite;
}

/* 
  Movement controls 
*/

.movement-text {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5rem;
  color: #f5f5dc;
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  user-select: none;

  transition: opacity 2s ease-out;
  animation: floatingAnimation 3s infinite;
}

/* Parent container */
.controls-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;

  opacity: 1;
  transition: opacity 3s;
}

.movement-controls {
  padding: 35px;
  background-color: #f5f5dc;
  border-radius: 12px;
  text-align: center;
  border: groove 6px #808080;
  width: fit-content;

  white-space: nowrap;
}

.controls-container {
  display: grid;
  grid-template-columns: repeat(2, auto); /* Set 3 columns */
  grid-template-rows: repeat(3, auto); /* Set 2 rows */
  grid-gap: 50px;
}

.controls-row {
  display: grid;
  grid-template-columns: auto;
}

.controls-cell {
  font-size: 1.2rem;
  user-select: none;
  opacity: 0;
  transition: opacity 3s ease-in;
}

.controls-row:nth-child(1) .controls-cell {
  transition-delay: 0s;
}

.controls-row:nth-child(2) .controls-cell {
  transition-delay: 1.5s;
}

.controls-row:nth-child(3) .controls-cell {
  transition-delay: 3s;
}

.controls-row:nth-child(4) .controls-cell {
  transition-delay: 4.5s;
}

.controls-row:nth-child(5) .controls-cell {
  transition-delay: 6s;
}

.controls-row:nth-child(6) .controls-cell {
  transition-delay: 7.5s;
}

.controls-cell.active {
  opacity: 1;
}

/* 
  Button 
*/
.intro-button {
  padding: 8px 30px;
  background-color: rgba(0, 0, 0, 0.24);
  color: #f5f5dc;
  border: none;
  font-weight: bold;
  font-size: 1.8rem;
  font-family: "Bebas Neue", sans-serif;
  border-radius: 8px;
  margin-top: 40px;

  cursor: pointer;

  /* opacity: 1; */
  transition: opacity 3s;
  transition-delay: 9s;
}

.intro-button:hover {
  background-color: rgba(0, 0, 0, 0.52);
  cursor: pointer;
}

.intro-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.hidden {
  opacity: 0;
}

/* 
  Animation
*/
@keyframes floatingAnimation {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(-10px) translateX(-2px);
  }
  50% {
    transform: translateY(0) translateX(0);
  }
  75% {
    transform: translateY(-8px) translateX(2px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

/* 
  Loading progress format 
*/
.loadingScreen_progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12px;
}

.loadingScreen_progress_value {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 50%);
  transition: width 0.4s;
}

/*
  PopUpHandler format
*/

.popUp-bubble {
  background-color: #f9f6f0;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
  opacity: 0.8;

  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  user-select: none;

  opacity: 0;
  transition: opacity 1s ease;
}

.popUp-text {
  font-size: 0.8rem;
  color: #000;
  font-family: "Bebas Neue", sans-serif;
  opacity: 1;
}

.popUp-bubble.show {
  display: block;
  opacity: 1;
  transition: opacity 1s ease;
}

.panel-header {
  opacity: 0;
  white-space: nowrap;
  font-size: 2.2rem;
  text-shadow: 0 0 10px #e9e0d4;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  user-select: none;

  transition: opacity 1.5s ease;
}

.panel-header.show {
  opacity: 1;
}

.front-end {
  transition-duration: 1.5s;
}

.back-end {
  transition-duration: 3s;
}

.languages {
  transition-duration: 4s;
}
